.mainContent {
  margin-left: 4rem;
  font-family: "Oswald", sans-serif;
  margin-top: 8rem;
}

.mainContent hr {
  width: 60%;
  margin-left: 0;
}

.mainContent h2 {
  font-weight: 800;
  font-size: 40px;
  color: #fff;
  border: 1px solid #9400ff;
  border-radius: 5px;
  width: 11rem;
  padding: 10px 30px 15px;
}

.mainContent p {
  margin-top: 2em;
  margin-left: 1.6rem;
  width: 60%;
  font-size: 1.6rem;
  color: #fff;
}

.mainContent img {
  width: 25%;
  float: right;
  border-radius: 5px;
  margin-right: 4rem;
}

@media (max-width: 1275px) {
  .mainContent h2 {
    width: fit-content;
  }
}

@media (max-width: 425px) {
  .mainContent {
    margin-left: 0.8rem;
    font-family: "Oswald", sans-serif;
    margin-top: 8rem;
  }

  .mainContent hr {
    width: 90%;
    margin-left: 0;
  }

  .mainContent h2 {
    font-weight: 800;
    font-size: 35px;
    color: #fff;
    border: 1px solid #9400ff;
    border-radius: 5px;
    width: fit-content;
    padding: 10px 30px 15px;
  }

  .mainContent p {
    margin-top: 2em;
    margin-right: 1.8rem;
    margin-left: 1rem;
    width: 90%;
    font-size: 1.2rem;
    color: #fff;
    width: fit-content;
  }

  .mainContent img {
    display: none;
    border: 1px solid;
    width: 28%;
    border-radius: 5px;
    margin-left: 10px;
    margin-bottom: 6rem;
  }
}
